/*GENERALES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-noBlanco);
}
main, .navBar {
    user-select: none;
}

ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
label {
    font-family: var(--font-family-general);
}
input:focus {
    outline: none;
    border: 1px solid rgb(65, 43, 43);
    box-shadow: 0 0 10px #616d5b9e;
}

/*Textos*/
.textoChico {
    font-size: 1rem; 
}
.textoMediano {
    font-size: 1.2rem; 
}
.textoGrande {
    font-size: 1.3rem; 
}
.textoTitulos {
    font-size: 1.4rem;
}
.linkVerdeOscuro {
    color: var(--color-verdeOscuro-link);
}
.textoBlanco {
    color: var(--color-noBlanco);
}

.texto_indicaciones {
    color: var(--color-grisOscuro);
    cursor: default;
    font-weight: bolder;
    font-family: var(--font-family-generalSerif);
    text-align: left;
    padding: 5px 50px;
    margin: 0%;

    display: block;
}

/*Variables*/
:root {
    --color-grisOscuro: #353535;
    --color-grisOscuro-texto:#121212;
    --color-noBlanco: #fafafa;
    --color-verdeOscuro: rgb(64, 91, 72);
    --color-verdeOscuro-bordes: #535e53;
    --color-verdeOscuro-link: rgb(43, 67, 52);
    --color-verdeClaro: #798f81;
    --color-verdeClaro-hover: #616562;

    --font-family-general: 'Karla', sans-serif;
    --font-family-logo: 'Playfair Display', serif;
    --font-family-generalSerif: 'Karma', serif;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-verdeOscuro);
    border: 1px solid var(--color-noBlanco);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:active {
    background: var(--color-verdeClaro);
}
::-webkit-scrollbar-track {
    background: var(--color-noBlanco);
    border: none;
}
::-webkit-scrollbar-track:active {
    background: var(--color-noBlanco);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/*Posicionamiento*/
.flexAndCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}
.positionAbsolute {
    position: absolute;
}

/*Formato*/
.inputBlancoSinBorde {
    color: var(--color-verdeOscuro);
    border-style: none;
}
.botonVerde {
    background: var(--color-verdeOscuro);
    font-weight: 400;
    text-align: center;
    border-style: none;
}
.inputText_Busquedas {
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.08);
}
.inputButton_Busquedas {
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.08);
}

/*MODALES*/
.contenedorDeModales {
    width: 100%;

    position: fixed;
    right: 0px;
    top: 90%;

    display: block;

    z-index: 100;
}
.modalAviso {
    display: block;

    position: absolute;
    right: 10px;
}
.modalPHP {
    background-color: var(--color-grisOscuro);/* Fallback*/
    background-color: #353535bb;
    border-radius: 5px 2px 5px 2px;

    -webkit-animation-name: modalAparece;
    -webkit-animation-duration: 0.4s;
    animation-name: modalAparece;
    animation-duration: 0.4s;

    width: 200px;
    height: 70px;

    padding: 8px 0px;

    display: flex;
    justify-content: center;
}
.modalPHP p {
    color: var(--color-noBlanco);
    text-align: center;
    font-family: var(--font-family-general);
}

@-webkit-keyframes modalAparece {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}
  
@keyframes modalAparece {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/*NAVIGATION BAR*/
header {
    background-color: var(--color-noBlanco);
    border-bottom: 1px solid var(--color-verdeOscuro-bordes)
}

.navBar {
    box-shadow: 0 10px 27px rgba(164, 164, 164, 0.05);
    
    width: 100%;

    padding: 0% 2vw;

    overflow: auto;
}
.navBar > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*menu*/
.navBar__menu {
    background-color: var(--color-noBlanco);
    border-radius: 10px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    text-align: center;
    opacity: 80%;

    width: 35vw;
    
    padding: 0%;

    position: fixed;
    left: -200%;
    
    transition: 0.3s;

    z-index: 5;
}
.navBar__menu.active {
    left: 0;
}
.navBar__menu-item {
    font-family: var(--font-family-general);
    
    margin: 10px 10px;
}
.menu-item--link {
    color: var(--color-grisOscuro);
}
.menu-item--link:hover {
    color: var(--color-verdeOscuro-link);
}
#navBar__menu-divider {
    border-bottom: 1px solid var(--color-verdeClaro);
    opacity: 30%; 
    margin-bottom: 0%;
}
.navBar__hamburger {
    cursor: pointer;

    display: block;
}
.hamburger--bar {
    background-color: var(--color-grisOscuro);
    border-radius: 25%;
    height: 3px;
    margin: 5px auto;
    width: 25px;
    
    display: block;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navBar__hamburger.active .hamburger--bar:nth-child(2) {
    opacity: 0;
}
.navBar__hamburger.active .hamburger--bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.navBar__hamburger.active .hamburger--bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/*logo*/
.navBar__logo {
    color: var(--color-verdeClaro);
    font-family: var(--font-family-logo);
}
.navBar__logo:hover {
    color: var(--color-verdeClaro);
}

/*search bar*/
.navBar__search {
    text-align: right;
    background-color: transparent;
    display: inline-block;
}
.navBar__search--lupita {
    width: 25px;
    padding: 0px 5px;
}
.navBar__search--input, .navBar__search--submit {
    display: none;
    visibility: hidden;
}
.navBar__search--input {
    width: 200px;
    border: 1px solid var(--color-verdeOscuro-bordes);
    padding: 0px 5px;
}
.navBar__search--submit {
    width: 100px;
    margin: 0%;
}
.navBar__search--input.active, .navBar__search--submit.active {
    display: inline-block;
    visibility: visible;
}
.navBar__search.active {
    background-color: var(--color-noBlanco);

    width: calc(100% - 2vw);
    padding-top: 15px;
    margin: 0%;

    position: absolute;
    justify-self: center;
    align-self: center;
    
    z-index: 5;
}

/*ENCABEZADO*/
.encabezado_section {
    margin-top: 70px;
    margin-bottom: 0px;
    height: 60px;
}
.ctnEncabezado {
    padding-left: 4vw;
}
h1 {
    color: var(--color-grisOscuro);
    cursor: default;
    font-family: var(--font-family-generalSerif);
    font-weight: bold;

    float: left;
}
.ctnButton {
    padding-right: 4vw;
}
.encabezado_section__button {
    background: var(--color-noBlanco);
    color: var(--color-verdeOscuro-link);
    text-align: center;

    border-radius: 4px;
    border: 2px solid  var(--color-verdeOscuro-link);
    
    float: right;

    padding: 5px 10px;
}
.encabezado_section__button:hover {
    border-color: var(--color-verdeOscuro);
}
.encabezadoSection__button--link {
    color: var(--color-verdeOscuro-link);
    font-family: var(--font-family-generalSerif);
    font-weight: 600;
}
.encabezadoSection__button--link:hover {
    color: var(--color-verdeOscuro);
}

/*RECETAS*/
.cnt_recetas {
    margin-top: 100px;

    overflow: auto;
}
.ctn_cards {
    margin: 0%;
    padding: 0% 4vw;
}
.cards__recetas {
    display: flex;
    justify-content: space-around;
}
.card__receta {
    width: 300px;
    height: 400px;
    border-radius: 2%;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.08);

    display: inline-block;
    
    margin-bottom: 40px;
    padding: 0%;

    overflow: auto;
}
.card__receta:hover {
    box-shadow: 10px 10px 15px -8px rgba(104, 104, 104, 0.35),
        -10px 10px 15px -8px rgba(104, 104, 104, 0.35);
    -webkit-box-shadow: 10px 10px 15px -8px rgba(104, 104, 104, 0.35),
        -10px 10px 15px -8px rgba(104, 104, 104, 0.35);
    -moz-box-shadow: 10px 10px 15px -8px rgba(104, 104, 104, 0.35),
        -10px 10px 15px -8px rgba(104, 104, 104, 0.35);
}
.card__receta--button {
    border-radius: 3px;
    font: bolder 15px 'Karma', serif;

    height: 35px;
    width: 180px;

    padding: 5px 10px;
    position: relative;
    top: -17px;
    left: 60px;
}
.card__receta--buttonGuardarIndex, .card__receta--buttonGuardar {
    background-image: url('../imagenes/SVG/noGuardado.svg');
    background-color: transparent;
    border: none;
    text-align: center;

    width: 37px;
    height: 37px;
    
    padding: 0%;

    float: right;
    margin-top: -97px;
    margin-right: 10px;
    position: relative;
    z-index: 12;
}
.card__receta--buttonGuardar {
    margin-top: -53px;
} 
.botonGuardarNoActive {
    background-image: url('../imagenes/SVG/guardado.svg');
}
.card__receta--info {
    color: var(--color-grisOscuro-texto);
    cursor: default;
    text-align: center;
    font: 17px 'Playfair Displays', serif;
    
    margin: 0%;
    padding: 0%;
}
.card__receta--info:first-line {
    font-weight: bold;
    font-size: 20px;
}
.imgReceta {
    background-position: center;
    background-size: cover;
    border-radius: 2% 2% 0% 0%;

    width: 300px;
    height: 250px;

    margin: 0%;
    padding: 0%; 
}
#imagenSReceta, #recetaSlink, #recetaname, #recetainfo {
    border: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
}
#imagenSReceta::selection, #recetaname::selection, #recetainfo::selection {
    color: none;
    background: none;
}
#imagenSReceta, #recetaname, #recetainfo {
    background-color: transparent;
    text-align: center;
}
#recetainfo {
    overflow-wrap: break-word;
}

/*FIN DE PÁGINA*/
.pageEnd {
    border-top: 1px solid var(--color-verdeOscuro-bordes);
    padding: 0% 5%;
}
.pageEnd__title, .pageEnd__subtitle {
    color: var(--color-grisOscuro);
    cursor: default;
    font-weight: bolder;
    font-family: var(--font-family-generalSerif);
    text-align: center;
   
    display: block;
}
.pageEnd__subtitle {
    margin-top: 20px;
}
.pageEnd__form {
    background-color: transparent;
    margin-top: 20px;

    display: flex;
    justify-content: center;
}
.pageEnd__form--input {
    background-color: var(--color-noBlanco);
    border: 1px solid rgba(64, 91, 72, 0.592);
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.09);
    font-family: var(--font-family-generalSerif);

    padding: 5px 10px;
}
.pageEnd__form--button {
    background: var(--color-verdeOscuro);
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.09);
    border-color: transparent;
    color: var(--color-noBlanco);
    font-family: var(--font-family-generalSerif);
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    
    padding: 5px 10px;
    
    display: inline-block;      
}

/*FOOTER*/
footer {
    background: #343936;
    cursor: default; 
    font-family: var(--font-family-generalSerif);
}
.footer__links {
    font-family: var(--font-family-generalSerif);
    color: var(--color-verdeClaro);
    
    margin: 0%;
}
footer a {
    display: block;
    color: var(--color-verdeClaro);
}
footer a:hover {
    color: var(--color-verdeClaro-hover);
}
footer i {
    background-color: transparent;

    padding-right: 10px;
}
.ctn__footer--logo {
    padding: 0px;
    margin: 0%;
}

/*MODAL INICIE SESIÓN*/
#modal__inicieSesion {
    background-color: #353535ba;
  
    height: 100%;
    width: 100%;
  
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
  
    margin: 0%;
    padding: 5% 10%;
  
    display: block;
    justify-content: center;
    align-content: center;
  
    z-index: 100;
}

#modal__content {
    background-color: var(--color-noBlanco);
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 
                0 7px 20px 0 rgba(0, 0, 0, 0.17);
    background: var(--color-noBlanco);
    overflow: auto;
    cursor: default;
  
    width: 90%;
    height: 95%;
}

#modal__header {
    color: var(--color-grisOscuro);
    border-bottom: 1px solid #35353569;
    font-weight: 500;
  
    width: 100%;
    padding: 3% 3% 3% 3%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modalTitle {
    text-transform: uppercase;
    line-height: 1rem;
  
    padding: 0%;
    margin: 0%;
  
    display: flex;
    flex-direction: inline-block;
}
#close-modal {
    background-color: transparent;
    border: none;
    line-height: 1rem;
  
    padding: 0%;
    margin: 0%;
  
    display: inline-block
}
#modal__body {
    width: 100%;
    height: 83%;
  
    padding: 3%;
}
#modal__body--form label {
    color: var(--color-grisOscuro);
    font-weight: 500;
}
.modal__body--input {
    background-color: var(--color-noBlanco);
    border: 1px solid rgba(64, 91, 72, 0.592);
    border-radius: 5px;

    margin: 3px 0px 9px;
    padding: 10px;
}

#modal__body--forgotPass {
    color: var(--color-verdeOscuro-link);
}

.modal__body--button{
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal__body--buttonInicieSesion {
    background-color: var(--color-verdeOscuro);
    border: none;
    border-radius: 5px;
    color: var(--color-noBlanco);
}

#modal__body--textoRegistrate {
    margin-bottom: 25px;

    text-align: center;
    
}

#modal__body--otroInicio {
    width: 100%;
    
    margin: 0;
    padding: 0%;

    display: flex;
    justify-content: center;
}

#modal__body--linea1, #modal__body--linea2 {
    background-color: var(--color-grisOscuro);

    height: 1px;
    display: inline-block;
}

#modal__body--buttonGoogle {
    background-color: rgb(216, 122, 50);
    border: none;
    border-radius: 5px;
    color: var(--color-noBlanco);
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Form Log In y Registro*/
.formCtn {
    height: 100vh;
    width: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-content: center; 
}

.formH1 {
    height: 40px;
    
    position: absolute;

    z-index: 5;
}

.cajaConForm {
    box-shadow: 8px 8px 20px rgba(171, 168, 168, 0.229),
                -8px -8px 20px rgba(171, 168, 168, 0.229);
    border-radius: 80px 10px 80px 10px;

    width: 90%;
    height: 90%;

    margin: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaConForm a {
    font-family: var(--font-family-general);
    text-align: right;
}

.form--input {
    background-color: var(--color-noBlanco);
    border: 1px solid rgba(64, 91, 72, 0.592);
    border-radius: 5px;
    font-family: var(--font-family-generalSerif);

    margin-top: 3px;
    margin-bottom: 9px;

    padding: 3px 10px;
}

.form--button {
    background-color: var(--color-verdeOscuro);
    border: none;
    border-radius: 5px;
    color: var(--color-noBlanco);
    font-family: var(--font-family-generalSerif);
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    
    padding: 5px 10px;
    

    margin-top: 20px;
}

#cuchara, #batidor {
    position: absolute;

    z-index: 3;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*PÁGINAS DE RECETAS*/

/*Titulo de la receta*/
#tituloReceta {
    color: var(--color-verdeOscuro-link);
    font-family: var(--font-family-generalSerif);
    font-weight: bold;

    width: 100%;
    margin-top: 50px;

    display: flex;
    align-content: center;
    justify-content: center;
}

#tituloReceta__primeraPalabra {
    line-height: 10px;
}

#tituloReceta__segundaPalabra {
    line-height: 10px;

    margin-left: 10px;

    display: inline-block;
}

#tituloReceta__linea {
    background-color: var(--color-verdeClaro);
    border-radius: 4px;

    width: 16vw;
    height: 4px;
    
    margin-left: 10px;

    display: inline-block;
}

#encabezadoRecetas {
    color: rgb(33, 35, 34);
    font-family: var(--font-family-generalSerif);
    font-weight: bold;
    text-transform: capitalize;

    width: 100%;
    margin-top: 60px;

    display: flex;
    align-content: center;
    justify-content: center;
}

/*Ingredientes*/
#ctn__recetaYRecursos {
    padding: 0% 5%;
}

#receta__info, #receta__ingredientes  {
    font-family: var(--font-family-general);
    margin-bottom: 30px;
}

#receta {
    width: 100%;
}

.receta__ingredientes--checkList input {
    margin-bottom: 13px;
}

.ctn__checkboxes {
    display: flex;
    flex-direction: row;
}

.receta__checkbox--p {
    margin-top: -4px;
    margin-left: 10px;
}

/*This code was retrieved from: https://www.html5canvastutorials.com/blog/2012/06/custom-form-radio-checkbox/*/
.recetas__checkbox {
	-webkit-appearance: none;
	background-color: var(--color-noBlanco);
	border: 1px solid var(--color-verdeOscuro-bordes);
	border-radius: 4px;

	padding: 9px;

	position: relative;
}

.recetas__checkbox:active, .recetas__checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
        inset 0px 1px 3px rgba(0,0,0,0.1);
}

.recetas__checkbox:checked {
    color: var(--color-noBlanco);
	background-color: var(--color-verdeOscuro-bordes);
	border: 1px solid var(--color-verdeOscuro-bordes);	
}

.recetas__checkbox:checked:after {
	content: '\2714';

	position: absolute;
	top: -0.8px;
	left: 4.2px;
    
	color: var(--color-noBlanco);
}

/*receta*/
#receta__receta--pasos {
    padding: 19px 0;
}

ol {
    counter-reset: pasosReceta;
}

ol li {
    counter-increment: pasosReceta;
    font-family: var(--font-family-general);

    padding-left: 10px;
}

.pasosP {
    font-family: var(--font-family-general);

    padding-left: 19px;
}

ol li::marker {
    content: counter(pasosReceta) "|";
    color: var(--color-verdeOscuro-bordes);
    font-weight: bold;
    font-family: var(--font-family-logo);
}

#receta__receta--pasos li {
    letter-spacing: 0.2px;
    line-height: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    
}

/*Recursos*/
#recursosReceta {
    font-family: var(--font-family-general) !important;
}

#recursosReceta img {
    width: 100%;
    border-radius: 2px;
}

.recursosReceta__notas {
    width: 80%;
}

.recursosReceta__notas--title{
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--color-verdeOscuro-bordes);

    height: 35px;
}

.recursosReceta__notas {
    border: 1px solid var(--color-verdeOscuro-bordes);
    border-radius: 2px;
    margin: 20px auto;
    padding: 5px;
}

.recursosReceta__notas--p {
    padding: 0px 5%;
}

#recetainfo {
    word-wrap: break-word
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*MEDIA SCREENS Y BREAKPOINTS*/

@media screen and (max-width: 580px) {
    /*Navigation Bar*/
    .navBar, .navBar__search.active {
        height: 50px;
    }
    
    #ctn_searchSecc {    
        height: calc(100vh - 50px);
    }
    
    .navBar__menu {
        margin-top: 51px;
    }
    
    .ctnEncabezado {
        display: flex;
        justify-content: center;

        padding: 0%;
    }

    .ctnButton {
        display: flex;
        justify-content: center;
        
        margin: 4vh 0 0 0;
        padding: 0%;
    }
    
    /*Form Log In y Registro*/
    .formCtn {
        margin: 0%;
        padding: 5%;
    }

    .form--button, .form--input, .pageEnd__form--button, .pageEnd__form--input {
        height: 40px;
        width: 100%;
    }

    #cuchara, #batidor {
        height: 25vh;
    }

    #cuchara {
        left: 60%;
        bottom: 0%;

        transform: scale(-1) rotate(50deg);
    }

    #batidor {
        left: 20%;
        top: 0%;

        transform: rotate(35deg);
    }

    .formH1 {       
        position: absolute;
        left: 35%;
        top: 15%;
    }
}

@media screen and (min-width: 580px) and (max-width: 800px) {
    .navBar, .navBar__search.active {
        height: 55px;
    }

    #ctn_searchSecc {    
        min-height: calc(100vh - 55px);
    }

    #cuchara, #batidor {
        height: 50vw;
    }

    #cuchara {
        bottom: 19%;
        left: 75%;

        transform: scale(-1) rotate(40deg);
    }
    
    #batidor {
        left: 15%;
        top: 0%;

        transform: rotate(25deg);
    }

    .formH1 {        
        position: absolute;
        left: 40%;
        top: 15%;
    }
}

@media screen and (min-width: 580px) {
    /*Navigation Bar*/    
    .navBar__menu {
        margin-top: 56px;
    }

    /*pageEnd*/
    .pageEnd__form--input, .pageEnd__form--button {
        height: 50px;
        width: 180px;

        display: inline-block;
        margin-left: 5px;
    }
    
    /*Modal inicio sesión*/
    #modal__body {    
        display: flex;
        justify-content: space-between;
    }
    
    #modal__body--recuerdame {
        display: inline-block;
    }        
        
    #modal__body--recuerdameContraseña {
        display: flex;
        justify-content: space-between;
    }

    /*Form Log In y Registro*/
    .formCtn {
        margin: 0%;
        padding: 10% 2%;
    }

    .cajaConForm {
        width: 80%;
        height: 80%;
    }
    
    .form--input {
        width: 100%;
        height: 40px;
    }

    .form--button {
        height: 50px;
        width: 150px;
    }
    
    /*PÁGINAS RECETAS*/
    #receta__ingredientes{
        display: flex;
        justify-content: center;
    }

    .receta__ingredientes--checkList {        
        display: inline-block;
        margin-left: 8%;
    }
}

@media screen and (max-width: 768px) {
    /*Inicio searchSecc*/
    .inputText_Busquedas, .inputButton_Busquedas {
        text-align: center;
        width: 80vw;
        height: 40px;
        display: block;
    }
    .inputText_Busquedas {
        margin-bottom: 15px;
    }
    #searchSecc_searchIngredient {
        margin-top: 200px;
    }
    /*Navigation Bar*/
    .navBar__menu{
        width: 100vw;
        opacity: 900%;
    }

    /*Page End*/
    .pageEnd {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .pageEnd__form--input {
        margin-bottom: 3vh;
        margin-top: 1vh;
    }
    .pageEnd__form--button {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-left: 0%;
    }

    footer {
        padding: 40px 0px;
    }
    .footer__links {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .ctn__footer--logo {
        width: 100%;

        display: flex;
        justify-content: center;
        align-content: center;
    }
    .footer__logo {
        width: 50%;
    }

    /*Form Log In y Registro*/
    .ilustraciones {
        display: hidden;
    }

    /*PÁGINAS RECETAS*/
    #tituloReceta {
        margin-bottom: 70px;
    }

    #receta__info p {
        line-height: 15px;
        margin-top: 4px;
    }
    
    #receta {
        width: 100%;
    }
    
    .receta__ingredientes--checkList {
        width: 100%;
    }
    
    #recursosReceta {
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .inputText_Busquedas {
        box-shadow: inset -7px 0px 9px -3px rgba(0, 0, 0, 0.4);
        text-align: left;

        width: 30vw;
        height: 80px;

        padding-left: 1.5vw;
        padding-right: 4vw;
    }
    .inputButton_Busquedas {
        width: 10vw;
        height: 80px;

        margin-left: -10px;
        margin-top: -9px;
    }
        
    #searchSecc_searchIngredient {
        margin-top: 200px;
    }

    /*Page End*/
    .pageEnd {
        height: 50vh;
        padding: 80px 5%;
    }
    
    footer {
        padding: 50px 5%;
    }
    .footer__section {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .footer__links {
        width: 70%;
    }
    .ctn__footer--logo {
        width: 30%;
    }
    .footer__logo {
        width: 100%;
    }

    /*PÁGINAS RECETAS*/
    #tituloReceta {
        margin-bottom: 150px;
    }

    #ctn__recetaYRecursos {
        width: 100%;

        display: flex;
        flex-direction: row-reverse;
    }
    
    #recursosReceta {
        padding-top: 11px;
        width: 45vw;
        display: inline-block;
    }

    #recursosReceta img {
        margin-bottom: 90px;
    }

    #receta {
        display: inline-block;
        padding: 0% 5%;
    }

    #receta__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 800px) {
    /*MODAL INICIE SESIÓN*/
    #modal__body--form {
        width: 100%;
    }
    .centrandoForm {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divFormModal > input {
        display: block;
        margin: 0 auto;
    }
    .modal__body--input {
        width: 80%;
        height: 30px;
    }
    .recuerdameContraseña__ctn--checkbox {
        padding-top: 10px;
    }
    #modal__body--linea1, #modal__body--linea2 {
        margin: 15px 0px;
        
        width: 40%;
    }
    #modal__body--forgotPass {
        display: block;
    }
    #modal__body--textoEntreLineas {
        display: none;
    }

    #modal__body--buttonInicieSesion {
        margin: 20px 0 10px 0;
    }
    #modal__body--buttonGoogle, #modal__body--buttonInicieSesion {
        height: 40px;
        width: 150px;
    }

    #modal__body {
        display: flex;
        justify-self: center;
        padding: 10%;
    }


    #modal__body--illustration {
        display: none;
    }

    #ctn__blobGuardadas {
        height: 500px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .navBar, .navBar__search.active {
        height: 55px;
    }

    #ctn_searchSecc {    
        min-height: calc(100vh - 55px);
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    #cuchara, #batidor {
        height: 40vw;
    }

    #cuchara {
        left: 70%;
        bottom: 20%;

        transform: scale(-1) rotate(45deg);
    }
    
    #batidor {
        left: 15%;
        top: 0%;

        transform: rotate(35deg);
    }
}

@media screen and (min-width: 800px) {
    .formH1 {        
        position: absolute;
        left: 43%;
        top: 20%;
    }

    /*MODAL INICIE SESIÓN*/
    #modal__body--form {
        width: 60%;

        border-right: 1px solid #35353569;
    }

    .recuerdameContraseña__ctn--checkbox {
        padding-top: 20px;
    }

    #modal__body--recuerdameContraseña {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #modal__body--textoEntreLineas {
        display: inline-block;
        line-height: 0%;
        text-align: center;
    }
    
    #modal__body--linea1, #modal__body--linea2 {
        margin: 15px 0px;
        
        width: 30%;
        width: 20%;
    }

    #modal__body--forgotPass {
        display: inline-block;
    }

    #modal__body--buttonInicieSesion {
        margin: 20px 0 10px 0;
    }

    #modal__body--textoRegistrate {
        margin-bottom: 25px;
    }

    #modal__body--buttonGoogle, #modal__body--buttonInicieSesion {
        height: 40px;
        width: 150px;
    }

    #modal__body--illustration {
        display: flex;
        flex-direction: column;
        align-self: center;
        
        width: 40%;
        height: 100%;
    }

    #modal__body--illustration img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (min-height: 1100px) {
    .cnt_recetas {
        border-bottom: 1px solid #9cbca8;
        margin-top: 15vh;
    }
}

@media screen and (min-width: 1024px) {    
    .navBar__menu {
        margin-top: 71px;
    }

    /*pageEnd*/
    .pageEnd__form--input, .pageEnd__form--button {
        height: 50px;
        width: 290px;

        margin-left: 5px;
    }

    /*Modal Incio Sesión*/
    .modal__body--input {
        width: 90%;
        height: 50px;
    }
    
    /*Form Log In y Registro*/
    .formCtn {
        margin: 0%;
        padding: 4% 5%;
    }

    .cajaConForm {
        width: 95%;
        height: 90%;
        padding: 0 8%;
    }
    
    .form--input {
        width: 450px;
        height: 40px;
    }
}

@media screen and (min-width: 1200px) {
    #cuchara, #batidor {
        height: 30vw;
    }

    #cuchara {
        left: 70%;
        bottom: 10%;

        transform: scale(-1) rotate(45deg);
    }
    
    #batidor {
        left: 15%;
        top: 0%;

        transform: rotate(35deg);
    }
}

@media screen and (min-width: 1278px) {
    /*PÁGINAS RECETAS*/
    .receta__ingredientes--checkList {     
        margin-right: 15%;
    }
}


@media screen and (min-width: 1024px){
    .navBar, .navBar__search.active {
        height: 70px;
    }
    
    #ctn_searchSecc {    
        min-height: calc(100vh - 70px);
    }
}

@media screen and (min-width: 1700px) {
    /*Navigation Bar*/
    .navBar__menu {
        margin-top: 91px;
    }
    /*pageEnd*/
    .pageEnd__form--input, .pageEnd__form--button {
        height: 50px;
        width: 300px;

        display: inline-block;
        margin-left: 5px;
    }
}

/*FONT SIZES*/
@media screen and (max-width: 520px) {
    :root {
      font-size: 16px; } 
}
@media screen and (min-width: 520px) and (max-width: 800px) {
    :root {
      font-size: 17px; 
    } 
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
    :root {
      font-size: 18px; } 
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
    :root {
      font-size: 19px; } 
}
@media screen and (min-width: 1500px) and (max-width: 1800px) {
    :root {
      font-size: 20px; } 
}
@media screen and (min-width: 1800px) {
    :root {
      font-size: 22px; } 
}
